pathway[all]
langchain
langchain_google_genai
pydantic
spacy
transformers
torch
langchain_core
scikit-learn
numpy
langchain_community
ragas
langgraph
backoff
streamlit
regex
dspy_ai==2.4.9
httpx
langchain-text-splitters
trafilatura
google-api-python-client
duckduckgo_search
google-generativeai
datasets
pydantic
